---
import { Icon } from 'astro-icon/components';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Logo from '~/components/Logo.astro';
import { getHomePermalink } from '~/utils/permalinks';


interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const { socialLinks = [], links = [], footNote = '', theme = 'light' } = Astro.props;
---

<footer class:list={[{ dark: theme === 'dark' }, 
'relative border-t border-gray-200 dark:border-slate-800 not-prose']}>
  <div class="dark:bg-dark absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 dark:text-slate-300">
    <div class="grid grid-cols-12 gap-4 gap-y-8 sm:gap-8 py-8 md:py-12">



 <!-- Contenedor principal con tres columnas en pantallas grandes (lg) y una columna en móviles -->
  <div class="col-span-12 lg:grid lg:grid-cols-3 gap-4 items-center">

      <!-- Logo (1/3 width on large screens) -->
      <div class="mb-2 lg:col-span-1">
        <div class="flex flex-col items-center lg:items-start">
          <div class="text-center lg:text-left">
            <p><a href="tel:+34932749880" class="hover:text-gray-400">+34 93 274 98 90</a></p>
            <p><a href="mailto:repro@reprodisseny.com" class="hover:text-gray-400">hola@preprodiseny.com</a></p>
            <p>Juan de Mena 19, 08035 </p>
          </div>
        </div>
      </div>
    
    <!-- Menú de los calendarios (alineado horizontalmente en pantallas grandes) -->
    <div class="lg:flex lg:items-center lg:justify-center lg:col-span-1">
      <nav class="flex flex-col lg:flex-row space-y-4 lg:space-y-0 lg:space-x-4 text-center lg:text-left">
        <a href="#" class="hover:text-gray-400">Mesa triangular</a>
        <a href="#" class="hover:text-gray-400">Mesa espiral</a>
        <a href="/" class="hover:text-gray-400">Pared revista</a>
        <a href="/" class="hover:text-gray-400">Pared espiral</a>
      </nav>
    </div>
    
    <!-- Redes sociales (alineadas horizontalmente) -->
    <div class="lg:flex lg:items-center lg:justify-end lg:col-span-1">
      <ul class="flex space-x-4 justify-center lg:justify-end">
        {socialLinks.map(({ ariaLabel, href, icon }) => (
          <li>
            <a
              class="text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
              aria-label={ariaLabel}
              href={href}
            >
              {icon && <Icon name={icon} class="w-5 h-5" />}
            </a>
          </li>
        ))}
      </ul>
    </div>
  </div>
  
  <!-- Footer Note -->
  <div class="col-span-12 lg:col-span-12 grid grid-cols-1 lg:grid-cols-3 gap-4 items-center">
      <div class="lg:col-span-2 flex items-center justify-start py-6 md:py-8">
        <div class="text-sm dark:text-muted">
          <Fragment set:html={footNote}/>
        </div>
      </div>
     <div class="lg:col-span-1 flex items-center justify-end py-6 md:py-8">
      <div class="text-sm mr-4 dark:text-muted">
        <div>
          <a href="#top" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition">Volver al Inicio</a>
        </div>
      </div>
    </div>  
  </div>
</footer>

