---
import Layout from '../layouts/LandingLayout2.astro';
import DynamicForm from '~/components/widgets/DynamicForm.astro'; // Asegúrate de que la ruta sea correcta
---

<Layout>
  <section>
    <DynamicForm />
  </section>
</Layout>
